basePath: /v1
definitions:
  controller.ClusterInfo:
    properties:
      nodes:
        items:
          $ref: '#/definitions/controller.Node'
        type: array
    type: object
  controller.Node:
    properties:
      advertise_addr:
        type: string
      bind_addr:
        type: string
      node_name:
        type: string
      role:
        type: string
      status:
        type: string
    type: object
host: seeder.cloudminds.com
info:
  contact:
    email: support@swagger.io
    name: API Support
    url: http://www.swagger.io/support
  description: Server for image/chart repo consistent.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Swagger Example API
  version: "1.0"
paths:
  /api/v1/cluster:
    get:
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/controller.ClusterInfo'
        "500":
          description: Internal Error
          schema:
            type: string
      summary: 获取cloud-edge整体集群信息
  /api/v1/health:
    get:
      parameters:
      - description: Name
        in: query
        name: name
        required: true
        type: string
      - description: State
        in: query
        name: state
        type: integer
      - description: CreatedBy
        in: query
        name: created_by
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: '{"code":S200,"data":{},"msg":"ok"}'
          schema:
            type: string
      summary: 获取服务健康状态
swagger: "2.0"
